<template>
  <div class="Game">
    <GamePlay />
  </div>
</template>

<script>
import GamePlay from "@/components/GamePlay.vue";

export default {
  data() {
    return {};
  },
  methods: {},
  components: {
    GamePlay
  }
};
</script>

<style></style>
