<template>
  <div class="home">
    <h1>Minimalistic Trivia</h1>
    <GameMenu />
  </div>
</template>

<script>
//<img alt="Vue logo" src="../assets/logo.png" />
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";
import GameMenu from "@/components/GameMenu.vue";
//import GamePlay from "@/components/GamePlay.vue";

export default {
  name: "home",
  components: {
    GameMenu
  }
};
</script>
