<template>
  <div>
    <b-button variant="info" v-on:click="startNewGame">Start new Game</b-button>
    <div style="padding:20px"></div>
    <QuizResults v-bind:userAnswers="userAnswers" v-bind:score="score" />
  </div>
</template>

<script>
import QuizResults from "./QuizResults.vue";

export default {
  components: {
    QuizResults
  },
  props: ["userAnswers", "gameEnd", "score"],
  methods: {
    startNewGame() {
      this.$router.push("/");
    }
  }
};
</script>
<style></style>
