<template>
  <div>
    <div v-if="!gameEnd" class="GamePlay">
      <h2>The Question:</h2>
      <h3 v-html="question"></h3>
      <QuizQuestion
        v-if="incorrectAnswers.length > 0"
        v-bind:correctAnswer="correctAnswer"
        v-bind:incorrectAnswers="incorrectAnswers"
        v-bind:answers="answers"
        v-bind:questions="questions"
        v-on:answered-correctly="nextQuestion"
      />
    </div>
    <div v-else>
      <GameOver
        v-bind:userAnswers="userAnswers"
        v-bind:gameEnd="gameEnd"
        v-bind:score="score"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import QuizQuestion from "./QuizQuestion.vue";
import GameOver from "./GameOver.vue";

export default {
  components: {
    QuizQuestion,
    GameOver
  },
  data() {
    return {
      indexQ: 1,
      score: 0,
      info: null,
      gameEnd: false,
      question: "",
      correctAnswer: "",
      incorrectAnswers: [],
      answers: [],
      questions: [],
      userAnswers: []
    };
  },
  methods: {
    nextQuestion(theAnswer) {
      // eslint-disable-next-line no-console
      if (theAnswer === this.correctAnswer) {
        this.score++;
      }
      if (this.indexQ < 10) {
        this.userAnswers.push({
          question: this.question,
          answers: this.answers,
          correctAnswer: this.correctAnswer,
          userAnswer: theAnswer
        });

        this.question = this.questions[this.indexQ].question;
        this.correctAnswer = this.questions[this.indexQ].correctAnswer;
        this.incorrectAnswers = this.questions[this.indexQ].incorrectAnswers;
        // eslint-disable-next-line no-console
        console.log("previous this.answers: " + this.answers);
        this.answers = this.incorrectAnswers;
        this.answers.push(this.correctAnswer);
        // let randoArr = this.randomizeAnswers(this.answers);
        this.answers.sort();
        // eslint-disable-next-line no-console
        console.log("this.answers: " + this.answers);
        // eslint-disable-next-line no-console
        // console.log("this.randoArr: " + randoArr);
        this.indexQ++;
      } else {
        this.gameEnd = true;
        alert("your score is:" + this.score + "/10");
      }
    }
  },
  async mounted() {
    const url = "https://opentdb.com/api.php?amount=10&type=multiple";
    try {
      const { data } = await axios.get(url);
      // eslint-disable-next-line no-console
      this.question = data.results[0].question;
      this.correctAnswer = data.results[0].correct_answer;
      this.incorrectAnswers = data.results[0].incorrect_answers;
      this.answers = this.incorrectAnswers;
      this.answers.push(this.correctAnswer);
      for (let i = 0; i < data.results.length; i++) {
        //this.questions[].info = data.results[0].question;
        this.questions.push({
          question: data.results[i].question,
          correctAnswer: data.results[i].correct_answer,
          incorrectAnswers: data.results[i].incorrect_answers
        });
        // eslint-disable-next-line no-console
        //console.log(this.questions[i].question);
      }
    } catch (error) {
      // eslint-disable-next-line no-console
      console.error(error);
    }
    // eslint-disable-next-line no-console
  }
};
</script>

<style></style>
