<template>
  <b-button variant="info" v-on:click="startGame">Start Game</b-button>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    startGame() {
      // eslint-disable-next-line no-console
      console.log("Start Game button");
      this.$router.push("game");
      //alert("Start Game button alert");
    }
  }
};
</script>

<style></style>
