<template>
  <div class="QuizResults">
    <h1>Your score is:</h1>
    <h1 v-html="score"></h1>
    <h2 style="padding:20px">The Answers:</h2>
    <div v-for="(data, index) in userAnswers" :key="index" style="padding:40px">
      <h2 v-html="data.question"></h2>
      <b-row align-v="end">
        <b-col>
          <b-button
            v-if="
              data.userAnswer === data.correctAnswer &&
                data.userAnswer === data.answers[0]
            "
            size="lg"
            variant="success"
            v-html="data.answers[0]"
          ></b-button>
          <b-button
            v-else-if="
              data.userAnswer != data.correctAnswer &&
                data.userAnswer === data.answers[0]
            "
            size="lg"
            variant="danger"
            v-html="data.answers[0]"
          ></b-button>
          <b-button
            v-else-if="data.correctAnswer === data.answers[0]"
            size="lg"
            variant="success"
            v-html="data.answers[0]"
          ></b-button>
          <b-button
            v-else
            size="lg"
            variant="primary"
            v-html="data.answers[0]"
          ></b-button>
        </b-col>
        <b-col>
          <b-button
            v-if="
              data.userAnswer === data.correctAnswer &&
                data.userAnswer === data.answers[1]
            "
            size="lg"
            variant="success"
            v-html="data.answers[1]"
          ></b-button>
          <b-button
            v-else-if="
              data.userAnswer != data.correctAnswer &&
                data.userAnswer === data.answers[1]
            "
            size="lg"
            variant="danger"
            v-html="data.answers[1]"
          ></b-button>
          <b-button
            v-else-if="data.correctAnswer === data.answers[1]"
            size="lg"
            variant="success"
            v-html="data.answers[1]"
          ></b-button>
          <b-button
            v-else
            size="lg"
            variant="primary"
            v-html="data.answers[1]"
          ></b-button>
        </b-col>
      </b-row>
      <div class="w-50"></div>
      <b-row class="text-center">
        <b-col>
          <b-button
            v-if="
              data.userAnswer === data.correctAnswer &&
                data.userAnswer === data.answers[2]
            "
            size="lg"
            variant="success"
            v-html="data.answers[2]"
          ></b-button>
          <b-button
            v-else-if="
              data.userAnswer != data.correctAnswer &&
                data.userAnswer === data.answers[2]
            "
            size="lg"
            variant="danger"
            v-html="data.answers[2]"
          ></b-button>
          <b-button
            v-else-if="data.correctAnswer === data.answers[2]"
            size="lg"
            variant="success"
            v-html="data.answers[2]"
          ></b-button>
          <b-button
            v-else
            size="lg"
            variant="primary"
            v-html="data.answers[2]"
          ></b-button>
        </b-col>
        <b-col>
          <b-button
            v-if="
              data.userAnswer === data.correctAnswer &&
                data.userAnswer === data.answers[3]
            "
            size="lg"
            variant="success"
            v-html="data.answers[3]"
          ></b-button>
          <b-button
            v-else-if="
              data.userAnswer != data.correctAnswer &&
                data.userAnswer === data.answers[3]
            "
            size="lg"
            variant="danger"
            v-html="data.answers[3]"
          ></b-button>
          <b-button
            v-else-if="data.correctAnswer === data.answers[3]"
            size="lg"
            variant="success"
            v-html="data.answers[3]"
          ></b-button>
          <b-button
            v-else
            size="lg"
            variant="primary"
            v-html="data.answers[3]"
          ></b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["userAnswers", "score"]
};
</script>

<style></style>
