<template>
  <div class="QuizQuestion">
    <b-row align-v="end">
      <b-col>
        <b-button
          size="lg"
          variant="outline-primary"
          v-on:click="() => answerEmitter(`${answers[0]}`)"
          v-html="answers[0]"
        ></b-button>
      </b-col>
      <b-col>
        <b-button
          size="lg"
          variant="outline-primary"
          v-on:click="() => answerEmitter(`${answers[1]}`)"
          v-html="answers[1]"
        ></b-button>
      </b-col>
    </b-row>
    <div class="w-50"></div>
    <b-row class="text-center">
      <b-col>
        <b-button
          size="lg"
          variant="outline-primary"
          v-on:click="() => answerEmitter(`${answers[2]}`)"
          v-html="answers[2]"
        ></b-button>
      </b-col>
      <b-col>
        <b-button
          size="lg"
          variant="outline-primary"
          v-on:click="() => answerEmitter(`${answers[3]}`)"
          v-html="answers[3]"
        ></b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "QuizQuestion",
  data() {
    return {};
  },
  props: [
    "question",
    "correctAnswer",
    "incorrectAnswers",
    "questions",
    "answers"
  ],
  methods: {
    answerEmitter(answer) {
      if (answer === this.correctAnswer) {
        //  alert("Correct Answer!");
        this.$emit("answered-correctly", answer);
      } else {
        this.$emit("answered-correctly", answer);
      }
      // eslint-disable-next-line no-console
      // eslint-disable-next-line no-console
      //console.log(this.questions);
    }
  }
};
</script>

<style></style>
